mixin download-card(text, type)
	if type
		a(href="#!").download-card
			img.lazy(src="./img/icons/pdf.webp", width="62" height="62" alt="img")
			p #{text}
			span .pdf
			svg.svg-downl
				use(href="./img/spriteSvg.svg#svg-downl")
	else
		a(href="#!").download-card
			img.lazy(src="./img/icons/doc.webp", width="62" height="62" alt="img")
			p #{text}
			span .doc
			svg.svg-downl
				use(href="./img/spriteSvg.svg#svg-downl")

mixin simple-card(icon, text)
	.simple-card&attributes(attributes)
		.simple-card__icon
			svg(class="svg-"+icon)
				use(href="./img/spriteSvg.svg#svg-"+ icon +"")
		.txt-medi #{text}

mixin foto-card(text1, text2, img)
	//====card=====
	.foto-card
		a(href="#!").foto-card__text.fl-column
			.txt-semi #{text1}
			p #{text2}

			.body-6 Смотреть проект
		
		.foto-card__pic
			img.lazy(src="./img/"+ img +".webp", width="325" height="289" alt="foto")