mixin input(plh, subtext, addCls, val )
	.form-item
		span.fake-placeholder !{plh}
		if addCls == 'disable'
			input.form-input(class=' disable'  readonly type="text" name="name" value=(val =='' ? '' : ''+ val ) )
		else
			input.form-input(class=(addCls =='' ? '' : ' '+addCls ) type="text" name="name" )
		
		p #{subtext}

mixin input-light
	.form-item
		input.form-input(type="text")

mixin switch(text)
	label.switch-item
		input(type="checkbox" checked name="")
		span
		span
		if text != ''
			p #{text}
mixin calc-radio(type, nameItem, icon, name)
	.form-radio
		label.fl-column
			input(type=""+ type name="name_"+ nameItem)
			.form-item__pic
				svg.svg-icon_1
					use(href="./img/spriteSvg.svg#svg-icon_"+ icon +"")
			.body-5 #{name}

mixin calc-check(type, nameItem, icon, name)
	.form-checkbox
		label.fl-column
			input(type=""+ type name="name_"+ nameItem)
			.form-item__pic
				svg.svg-icon_1
					use(href="./img/spriteSvg.svg#svg-icon_"+ icon +"")
			.body-5 #{name}